html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	overflow-y:scroll;
	}
body {
	background-image:url(/_kso_images/background.gif);
	background-position:top;
	background-repeat:no-repeat;
	font-size:10px; color: #444; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; background-color:#00305e;
	
}
a {
	text-decoration:none; color:#004e99;
}
a:hover {
	text-decoration:underline;
	color:#ff5b18;
}

h1 {
	font-size:30px;
	line-height:1.2em;
	color:#000;
	margin-bottom:10px;
}
h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#8c653a;
	font-size:18px;
	font-weight:normal;
	font-style: normal;
}
h3 {
	font-size:14px;
	font-weight:bold;
	margin:3px 0 0 0;
}
h4 {
	font-size:13px;
	font-weight:bold;
	margin:0 0 0 0;
}
h5 {
	font-size:14px;
	font-weight:bold;
	margin:15px 0 0 0;
}
h6 {
	font-size:14px;
	padding:5px;
	background-color:#f6f2e5;
	color:#8c653a;
	margin:10px 0 10px 0;
}

.smalltext {
	font-size:10px;
	margin:0;
	padding:0;
}
.smalltextitalic {
	font-size:11px;
	margin:0 0 8px 0;
	padding:0;
	font-style:italic;
	font-weight:normal;
}
#container {
	width:960px;
	margin:0 auto 50px auto;
	}
#flag {
	width:960px; height:85px;
}
#logo {
	width:227px;
	height:78px;
	float:left;
	background-image:url(/_kso_images/kso-logo.png);
	margin:2px 0 0 0;
}
#rightheadcontainer {
	float:right;
	text-align:right;
}
#jumplinks {
	color:#ffffff;
	width:350px;
	height:41px;
	text-align:right;
	padding-top:8px;
}
#jumplinks a {
	color:#ffffff;
}
#jumplinks ul {
	list-style:none;
	clear:both;
	margin:0;
	padding:0;
}
#jumplinks li {
	margin-left:15px;
}
#jumplinks ul li.jumptext {
	margin-top:5px;
	float:right;
	font-size:11px;
}
#ksosmall {
	width:68px;
	height:15px;
	background-image:url(/_kso_images/kso-logo-small.png);
	background-position:top;
	background-repeat:no-repeat;
	margin:0 0 0 282px;
	padding:0;
	text-indent:-9999px;
}
#search {
	width:350px;
	height:36px;
	background-color:#ebe2c5;
	margin:0 0 0 0;
	float:right;
}
.searchfield {
	padding:0 0 0 3px;
	margin:5px 0 0px 5px;
	width:160px;
	height:24px;
	border:1px solid #c2ad74;
	float:left;
	font-size:13px;
}
.searchbutton {
	float:left;
	margin:6px 0 3px 4px;
}
.advancedsearch {
	float:right;
	padding:11px 10px 0 0;
	font-size:11px;
}
#navcontainer {
	padding:0;
	margin:0;
}
#nav {
	width:960px;
	height:30px;
	background-image:url(/_kso_images/nav-background.gif);
	background-repeat:repeat-x;
}
ul#nav {
	list-style:none;
}
ul#nav li {
	float:left;
	position: relative;
}
ul#nav li a {
	color:#663300;
	font-weight:bold;
	padding:6px 10px 6px 10px;
	display:block;
	font-size:13px;
}
ul#nav li a:hover {
	text-decoration:none;
	background-image:url(/_kso_images/nav-divider-highlight.gif);
	background-repeat:repeat-x;
}
ul#nav li.divider {
	margin:7px 0 0 0;
}
/* MEGA MENU*/
ul#nav li .sub {
	position: absolute; /*--Important--*/
	top: 30px; left: 0;
	z-index: 99999;
	background-color: #a07935;
	padding:0px;
	float: left;
	/*--Bottom right rounded corner--*/
/*	-moz-border-radius-bottomright: 7px;
	-khtml-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px; */
	/*--Bottom left rounded corner--*/
	/*-moz-border-radius-bottomleft: 7px;
	-khtml-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px; */
	display: none; /*--Hidden for those with js turned off--*/
}
ul#nav li .row { /*--If  needed to break out into rows--*/
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
ul#nav li .sub ul {
	list-style: none;
	margin: 0; padding: 0;
	width: 200px;
	float: left;
}
ul#nav .sub ul li {
	width: 100%; /*--Override parent list item--*/
	color:#ece1c2;
}
ul#nav .sub ul li h2 { /*--Sub nav heading style--*/
	padding: 0;  margin: 0;
	font-size: 13px;
	font-weight: normal;
}
ul#nav .sub ul li h2 a { /*--Sub nav heading link style--*/
	padding: 5px 0 7px 10px;
	background-image: none;
	color: #f5efdf;
}
ul#nav .sub ul li a {
	float: none;
	text-indent: 0; /*--Override text-indent from parent list item--*/
	height: auto; /*--Override height from parent list item--*/
	padding: 5px 5px 7px 10px;
	display: block;
	text-decoration: none;
	list-style-image:url(/_kso_images/icon-bullet-off.png);
	color:#ece1c2;
}
ul#nav .sub ul li a:hover {
	background-image: none;
	color:#fff;
	background-color:#8c6829;
}



#bodycontainer {
	width:960px;
	background-color:#FFF;
	overflow:auto;
	background-image:url(/_kso_images/bg-3-cols.gif);
	background-repeat:repeat-y;
}
#bodycontainer-home {
	width:960px;
	background-color:#FFF;
	overflow:auto;
	background-image:url(/_kso_images/bg-4-cols.gif);
	background-repeat:repeat-y;
}
#bodycontainersub {
	width:960px;
	background-color:#FFF;
	overflow:auto;
	background-image:url(/_kso_images/bg-2-cols.gif);
	background-repeat:repeat-y;
}
#leftcolumn {
	float:left;
	width:160px;
	padding:15px 10px 20px 10px;
}
#leftcolumn ul {
	list-style:none;
}
#leftcolumn ul li a {
	display:inline-block;
	padding:5px 0 5px 1px;
	margin:0;
	font-size:13px;
	width:155px;
	border-top:1px dotted #d3c3a8;
	font-weight:bold;
}
#leftcolumn .newsdate {
    font-size:11px;
}
#leftcolumn .morningcoffee {
    width:150px;
    padding:5px;
    background-color:#e4d5b2;
}
.leftcolumn-rule-padding2 {
    padding:10px 0 7px 0;
}
#leftcolumn p {
	font-size:14px;
}

.header-padding {
	padding:0 0 5px 0;
}
.header-padding-with-rule {
	padding:0 0 5px 0;
	margin:0 0 8px 0;
	border-bottom:1px dotted #aaa;
}
.hailono-header-sprite {
	position:relative;
	height:44px;
}
.hailono-header-sprite-with-bg {
	background:transparent url(/_kso_images/hailono-header-343x88.gif) no-repeat 0 0;
	height:44px;
}
.hailono-header-sprite a {
	position:absolute;
	background:transparent url(/_kso_images/hailono-header-343x88.gif) no-repeat 0 0;
	width:343px;
	height:44px;
}
.hailono-header-sprite a:hover {
	background-position:0 -44px;
}
.hailono-sections-form {
	background-image:none;
}
.hailono-sections-form-with-bg {
	background:transparent url(/_kso_images/bg-3-cols.gif) no-repeat 0 0;
	background-image:url(/_kso_images/hailono-sections-select-ie8.gif)\9; /* IE8 and below */
	*background-image:url(/_kso_images/hailono-sections-select-ie8.gif); /* IE7 and below */
	_background-image:url(/_kso_images/hailono-sections-select-ie6.gif); /* IE6 */
}
.hailono-sections-select {
	visibility:visible;
	width:150px;
}
.hailono-sections-select-hidden {
	visibility:hidden;
	width:150px;
}
.leftcolumn-rule-padding {
	padding:4px 0 30px 0;
}
#login-box {
	width:158px;
	border:1px solid #c2ad74;
	/*background-color:#ebe2c5;*/
	background-color:#f7f4e9;
}
#login-box p.header-login {
	margin:0;
	padding:5px 10px 5px 10px;
	width:138px;
	border-bottom:1px dotted #c2ad74;
	background-color:#f1ecd9;
	color:#663300;
	font-weight:bold;
	font-size:12px;
	letter-spacing:0.05em;
	text-align:center;
	text-transform:uppercase;
}
#login-box p {
	padding-top:.5em;
}
#login-box h5 {
	font-size:13px;
	padding-top:0;
	padding-bottom:.5em;
	margin:0;
}
#login-box p.smalltext {
	padding-top:0;
	padding-bottom:.5em;
}
#login-box-inner {
	padding:10px;
	width:138px;
}
.input_text {
	padding:0 0 0 3px;
	margin:0 0 5px 0;
	width:132px;
	height:22px;
	border:1px solid #c2ad74;
	padding:0 0 0 3px;
}

/* ********** COMMON BODY STYLES FOR ALL TYPES OF PAGES ********** */

.bodycontent p {
	font-size:14px;
/*	padding-bottom:1em;*/
}
.bodycontent h1, .bodycontent h2, .bodycontent h3, .bodycontent h4, .bodycontent h5, .bodycontent h6 {
	padding-bottom:.5em;
}
.bodycontent h4 a {
	font-weight:bold !important;
}
.bodycontent ul {
	font-size:14px;
	margin-left:0;
	padding-left:1.2em;
	padding-bottom:1em;
}
.bodycontent ul li ul, .bodycontent ul li ol, .bodycontent ol li ul, .bodycontent ol li ol {
	padding-top:0;
	padding-bottom:0;
}
.bodycontent ol {
	font-size:14px;
	margin-left:1.2em;
	padding-left:1em;
	padding-bottom:1em;
}
.bodycontent hr {
	margin-top:15px;
	clear:both;
}
.bodycontent hr.noclear {
	margin-top:15px;
	clear:none;
}
.bodycontent .highlightbox {
	width:728px;
	padding:10px;
	background-color:#f8f4ea;
	border:1px solid #c2ad74;
	color:#8c653a;
}
.bodycontent .body-2-col-left {
	float:left;
	width:350px;
}
.bodycontent .body-2-col-right {
	float:right;
	width:350px;
}

/* ***** BODY CONTENT STYLES FOR TABLES ***** */
.bodycontent table {
	font-size:14px;
}
.bodycontent table tr td {
	vertical-align:top;
}
.bodycontent table h2 {
	margin-top:0;
	padding-top:2.5em;
	margin-bottom:0.5em;
	padding-bottom:0.5em;
	border-bottom:1px dotted #663300;
}
.bodycontent table h4 {
	font-size:11px;
	text-transform:uppercase;
	color:#666;
}
.bodycontent table tr td p {
	padding-top:0 !important;
	margin-top:0 !important;
}
.bodycontent table address {
	margin-top:0;
	padding-top:0;
	margin-bottom:0;
	padding-bottom:0.75em;
}
.bodycontent table.trVertSpaceDotted1 {
	border-collapse:collapse;
}
.bodycontent table.trVertSpaceDotted1 tr td {
	padding:10px 0 10px 0;
	margin:0;
	border-bottom:1px dotted #888;
}

.bodycontent table.trVertSpaceDotted1 h4 {
	padding-bottom:0;
	margin-bottom:0;
}
.bodycontent table.trVertSpaceDotted1 ul {
	padding-bottom:0;
}

.bodycontent table .typeExcel, .bodycontent table .typeWord, .bodycontent table .typePDF, .bodycontent table .typePpt, .bodycontent table .typePowerPoint, .bodycontent table .typeWMV {
	display:block;
	padding-left:22px;
	background-repeat:no-repeat;
	background-position:left top;
}
.bodycontent table .typeExcel {
	background-image:url(/_kso_images/icon-excel.gif);
	background-position:-1px 0;
}
.bodycontent table .typeWord {
	background-image:url(/_kso_images/icon-word.gif);
	background-position:-1px 0;
}
.bodycontent table .typePDF {
	background-image:url(/_kso_images/icon-pdf.gif);
}
.bodycontent table .typePpt, .bodycontent table .typePowerPoint {
	background-image:url(/_kso_images/icon-ppt.gif);
}
.bodycontent table .typeWMV {
	background-image:url(/_kso_images/icon_wmv_small.gif);
}


.bodycontent  .typeXLS, .bodycontent  .typeDOC, .bodycontent  .typePDF, .bodycontent  .typePPT, .bodycontent  .typePowerPoint, .bodycontent  .typeWMV {
	display:block;
	padding-left:22px;
	background-repeat:no-repeat;
	background-position:left top;
}
.bodycontent  .typeXLS {
	background-image:url(/_kso_images/icon-excel.gif);
	background-position:-1px 0;
}
.bodycontent  .typeDOC {
	background-image:url(/_kso_images/icon-word.gif);
	background-position:-1px 0;
}
.bodycontent  .typePDF {
	background-image:url(/_kso_images/icon-pdf.gif);
}
.bodycontent  .typePPT, .bodycontent table .typePowerPoint {
	background-image:url(/_kso_images/icon-ppt.gif);
}
.bodycontent  .typeWMV {
	background-image:url(/_kso_images/icon_wmv_small.gif);
}

/* ********** OVERRIDES FOR COMMON BODY STYLES ********** */

.bodycontent .story-rule p {
	padding-bottom:0;
}


#middlecolumn {
	width:560px;
	float:left;
}
#middlecolumnfull {
	width:750px;
	float:left;
	margin:0;
	padding:15px 0 20px 15px;
	background-image:url(/_kso_images/bg-white.gif);
	background-repeat:repeat;
}
#middlecolumnsub {
	width:530px;
	float:left;
	padding:15px 15px 10px 15px;
	margin:0 0 20px 0;
}
#middlecolumnsub .story {
	margin-bottom:15px;
}
#middlecolumnsub h3 {
	color:#444;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:18px;
	font-weight:normal;
	font-style:italic;
	margin-bottom:15px;
}
#middlecolumnsub h3.exec-heads {
	color:#444;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin-bottom:15px;
	font-style:normal;
}
#middlecolumnsub .story p {
	font-size:14px;
	line-height:19px;
	margin:14px 0 0 0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#middlecolumnsub .story ul {
	font-size:14px;
	line-height:19px;
	margin:14px 0 0 15px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#middlecolumnsub .story .image-right-240 {
	width:240px;
	float:right;
	margin:17px 0 0 20px;
	clear:both;
}

#middlecolumnsub .story .image-right-mugshot {
	width:125px;
	float:right;
	margin:17px 0 0 20px;
	border-style:solid;
	border-color:#000000;
	clear:both;
}

#middlecolumnsub .story .story-image {
}
#middlecolumnsub .story .story-caption {
	margin:2px 0 20px 0;
	font-size:11px;
}
#middlecolumnsub .story .story-smalltext {
	margin:0px 0 8px 0;
	font-size:12px;
	line-height:17px;
}
#middlecolumnsub .story .story-tags {    
	font-size:11px;    
	border-top:1px dotted #aaaaaa;    
	padding-top:15px;    
	margin-top:20px;    
	font-style:italic;    
	text-align:left; 
	clear:both;
}
#rightcolumnfull .story-tags {    
	font-size:11px;    
	border-top:1px dotted #aaaaaa;    
	padding-top:15px;    
	margin-top:20px;    
	font-style:italic;    
	text-align:left; 
	clear:both;
}
#rightcolumnfull p.related {    
	font-size:11px;    
	border-top:1px dotted #aaaaaa;    
	padding-top:15px;    
	margin-top:0px;    
	clear:both;
}
#rightcolumnfull ul.relatedlist {
	font-size:11px;
	line-height:15px;
	list-style:none;
} 
#middlecolumnsub .story .gallerybox {    
	font-size:11px;    
/*	border-top:1px dotted #aaaaaa;     
	padding-top:5px;    */
	margin-top:30px;    
	clear:both;
}
.articlegallerycontainer {
	width:530px;
	overflow:hidden;
	margin:10px 0 0 0;
}
.articlegallery {
	width:125px;
	margin:0 10px 0 0;
	float:left;
}
.articlegalleryend {
	width:125px;
	margin:0 0 0 0;
	float:left;
}
#middlecolumnsub #story-related p {
	margin:0 0 3px 0;
	font-size:12px;
}
#middlecolumnsub #story-related .story-related-title {
	text-transform:uppercase;
	letter-spacing:.1em;
}
#story-related ul, #story-related-top ul {
	list-style:circle;
	font-size:12px;
	line-height:21px;
	margin-left:15px;
}
#story-related-top ul {
	list-style:disc;
	font-weight:bold;
}
.story-rule {
	margin:14px 0 14px 0;
}
#middlecolumnsub p.commenttitle {
	font-size:16px;
	font-weight:bold;
}
#middlecolumnsub p.timestamp {
	font-size:12px;
	margin:12px 0 0 0;
	line-height:17px;
}
#middlecolumnsub p.comment {
	font-size:12px;
	line-height:17px;
}
#middlecolumnsub p.commentlogin {
	font-size:12px;
	line-height:17px;
	padding-bottom:4px;
}
#middlecolumnsub textarea {
	width:530px;
	height:100px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	padding:5px;
	margin-bottom:5px;
}
#middlecolumnsub p.byline {
	font-size:11px;
	margin:0;
	text-transform:uppercase;
	color:#666;
	line-height:15px;
	letter-spacing:0.07em;
}
#middlecolumncontainer {
	margin:0 13px 0px 15px;
	overflow:hidden;
}
#middleleftcolumn {
	width:343px;
	margin:0 27px 0 0;
	float:left;
	overflow:hidden;
}
#middleleftcolumn #ksnewsbox {
	width:343px !important; /* add !important attribute when middle left columns are not merged */
	margin:0 0 30px 0;
	overflow:hidden;
}
.ksnewsbox-ceo-trustee {
	background-color:#fff; /* added when middle left columns are not merged */
	padding-top:30px;
}
#middlecolumn #ksnewsbox, .top-breakingnews #ksnewsbox {
	width:530px;
	margin:0 0 30px 0;
	overflow:hidden;
}
#middlecolumn #ksnewsbox-ceo {
	width:530px;
	margin:0;
	overflow:hidden;
	background-color:#fff;
}
/*#middlecolumn .ksnewsbox-ceo-trustee img {
	float:right;
}*/
#middleleftcolumn .newsentry, #middlecolumn .newsentry, .top-breakingnews .newsentry, #middleleftcolumn .newsentry {
	overflow:hidden;
	padding:8px 0 8px 0;
	border-top:1px dotted #aaa;
	clear:left;
}
#middlecolumnsub .newsentry, #middlecolumnfull .newsentry {
	overflow:hidden;
	padding:8px 0 8px 0;
	border-top:1px dotted #aaa;
	clear:left;
}
#middleleftcolumn .newsdate, #middlecolumn .newsdate, .top-breakingnews .newsdate, #middlecolumnfull .newsentry .newsdate {
	font-size:11px;
	/*width:58px;*/
	margin-top:0px;
}
#middlecolumnfull .newsentry p {
	font-size:14px;
	line-height:19px;
}
#middlecolumnfull .newsphoto {
	margin:3px 10px 0 0;
}


/* ***************** NEWSROOM - MIDDLE LEFT COLUMN ***************** */
#middleleftcolumnnewsroom {
	width:250px;
	margin:0 10px 0 0;
	float:left;
	overflow:hidden;
}
#middleleftcolumnnewsroom #ksnewsbox {
	width:250px;
	margin:0 0 30px 0;
	overflow:hidden;
}
#middleleftcolumnnewsroom .newsentry {
	overflow:hidden;
	padding:8px 0 8px 0;
	border-top:1px dotted #aaa;
	clear:left;
}
#middleleftcolumnnewsroom .newsdate {
	font-size:11px;
	/*width:58px;*/
	margin-top:0px;
}
#middleleftcolumnnewsroom .newsphoto {
	float:right;
	padding:3px 0 5px 10px;
}

#middleleftcolumnnewsroom .mediadate {
	font-size:11px;
/*	float:left;
	width:58px;*/
	margin-top:0px;
}
#middleleftcolumnnewsroom .newsteaser {
	font-size:13px;
	line-height:16px;
}

#middlerightcolumnnewsroom {
	width:250px;
	margin:0 0 0 0;
	float:left;
	overflow:hidden;
}
#middlerightcolumnnewsroom #ksnewsbox {
	width:250px;
	margin:0 0 30px 0;
	overflow:hidden;
}
#middlerightcolumnnewsroom .newsentry {
	overflow:hidden;
	padding:8px 0 8px 0;
	border-top:1px dotted #aaa;
	clear:left;
}
#middlerightcolumnnewsroom .newsdate {
	font-size:11px;
	/*width:58px;*/
	margin-top:0px;
}
#middlerightcolumnnewsroom .newsphoto {
	float:right;
	padding:3px 0 5px 10px;
}

#middlerightcolumnnewsroom .mediadate {
	font-size:11px;
/*	float:left;
	width:58px;*/
	margin-top:0px;
}

#middlerightcolumnnewsroom .newsteaser {
	font-size:13px;
	line-height:16px;
}

#middlecolumncontainer-section {
	margin:0 13px 0px 15px;
	overflow:hidden;
}
#middlecolumncontainer-section #ksnewsbox {
	width:100%;
	margin:0 0 30px 0;
	overflow:hidden;
}
#middlecolumncontainer-section .newsentry {
	overflow:hidden;
	padding:8px 0 8px 0;
	border-top:1px dotted #aaa;
	clear:left;
}
#middlecolumn #middlecolumncontainer-section .story #ksnewsbox .newsentry ul li {
	list-style:disc;
	margin:0 0 0 15px;
}
#middlecolumncontainer-section .newsdate {
	font-size:11px;
	/*width:58px;*/
	margin-top:0px;
}
#middlecolumncontainer-section .newsphoto {
	float:right;
	padding:3px 0 5px 10px;
}

#middlecolumncontainer-section .mediadate {
	font-size:11px;
/*	float:left;
	width:58px;*/
	margin-top:0px;
}

#middlecolumncontainer-section .newsteaser {
	font-size:13px;
	line-height:16px;
}

.newsentry .lede {
	
}
.newsentry table {
	margin:0 0 0 -2px;
	padding:0;
	border:none;
}
.newsentry table tr td {
	vertical-align:top;
	padding-right:2px;
}


/* ***************** END - NEWSROOM - MIDDLE LEFT COLUMN ***************** */


h3 {
	font-size:14px;
	font-weight:bold;
	margin:3px 0 0 0;
}
h4 {
	font-size:13px;
	font-weight:bold;
	margin:0px 0 0 0;
}
/*#middleleftcolumn .newsheadline {
	width:343px; 
	font-size:14px;
	font-weight:bold;
}
#middlecolumn .newsheadline {
	width:343px; 
	font-size:14px;
	font-weight:bold;
}*/
#middleleftcolumn .newsteaser, #middlecolumn .newsteaser {
	/*width:233px;*/
	font-size:13px;
	line-height:16px;
	padding:3px 0 0 0;
	float:left;
}
#middleleftcolumn .newsphoto, #middlecolumn .newsphoto {
	float:left;
	padding:3px 5px 5px 0;
}
#middleleftcolumn .mediadate, #middlecolumn .mediadate {
	font-size:11px;
/*	float:left;
	width:58px;*/
	margin-top:0px;
}
/*#middleleftcolumn .mediaheadline {
	width:343px; 
	font-size:14px;
	font-weight:bold;
	margin-top:5px;
}
#middlecolumn .mediaheadline {
	width:530px; 
	font-size:14px;
	font-weight:bold;
	margin-top:5px;
}*/
.morelink {
	font-size:11px;
	font-weight:bold;
	border-top:1px dotted #aaa;
	text-decoration:none;
}
#leftcolumn .morelink {
	font-size:12px;
	text-transform:uppercase;
}
#leftcolumn .morelink img {
	padding-right:2px;
}
.morelink a {
	padding:5px 0 5px 0;
	text-decoration:none;
	display:block;
}
.morelinkleftpadding {
	font-size:11px;
	font-weight:bold;
	padding:5px 0 5px 58px;
	border-top:1px dotted #aaa;
}
.addtocalendarlink {
	font-size:11px;
	text-decoration:none;
}
.addtocalendarlink a {
	text-decoration:none;
	display:block;
	margin:3px 0 0 0;
}
#middlerightcolumn {
	width:160px;
	margin:0 0 0 0;
	float:left;
}
#middlerightcolumn #photogallery, #rightcolumn #photogallery {
	margin:0 0 30px 0;
}
#middlerightcolumn .photogallerybox, #rightcolumn .photogallerybox {
	border-top:1px dotted #aaa;
	padding:8px 0 8px 0;
	margin:0;
}
/*#middlerightcolumn .photocaption, #rightcolumn .photocaption {
	font-size:13px;
	margin:3px 0 0 0;
	font-weight:bold;
}*/
#middlerightcolumn #othersites, #rightcolumn #othersites {
	margin:0 0 30px 0;
}

/* BREAKING NEWS */
.top-breakingnews {
	padding-top:15px;
	margin-bottom:-15px;
	background-color:#ffffff;
}
.top-breakingnews-ie {
	padding-left:15px;
}
.top-breakingnews h1 {
	margin-bottom:0;
	padding-bottom:3px;
}
.top-breakingnews .rule-bottom {
	margin-top:5px;
}

/* MAIN STORY WIDE */
#splash {
	padding:15px 15px 13px 15px;
	background-color:#ffffff;
}
#splashtext {
	width:510px;
	padding:7px 10px 10px 10px;
	background-color:#683d19;
	background-image:url(/_kso_images/splashtextback-wide.gif);
	background-position:top;
	background-repeat:no-repeat;
	margin:-2px 0 0 0;
}
#splashtext h2 {
	font-size:24px;
	letter-spacing:-0.03em;
	margin-bottom:1px;
	color:#e2d2aa;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
#splashtext h2 a {
	color:#e2d2aa;
}
#splashtext h2 a:hover {
	text-decoration:none;
/*	border-bottom:1px solid; */
	color:#ff9900;
}
#splashtext p {
	font-size:13px;
	color:#f8f4ea;
	}
#splashtext p a {
	color:#ff9900;
}
/* MAIN STORY NARROW */
#splash-alt {
	padding:15px 15px 13px 15px;
	background-color:#ffffff;
	overflow:hidden;
}
#splashcontainer-alt {
	background-color:#683d19;
	overflow:hidden;
}
#splashtext-alt {
	padding:10px 10px 10px 10px;
	background-image:url(/_kso_images/splashtextback.gif);
	background-position:top;
	background-repeat:no-repeat;
	width:140px;
	float:left;
/*	background-color:#683d19;*/

}
#splashtext-alt h2 {
	font-size:20px;
	letter-spacing:-0.03em;
	margin-bottom:3px;
	color:#e2d2aa;
	line-height:21px;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
#splashtext-alt h2 a {
	color:#e2d2aa;
}
#splashtext-alt h2 a:hover {
	text-decoration:none;
/*	border-bottom:1px solid; */
	color:#ff9900;
}
#splashtext-alt p {
	font-size:13px;
	line-height:16px;
	color:#f8f4ea;
	}
#splashtext-alt p a {
	color:#ff9900;
}
#splashtext-alt p a.readmore {
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:.1em;
}
#splashimage-alt {
	width:370px;
	float:left;
	margin:0;
	padding:0;
}

/* MAIN STORY FLEX */
#splash-flex {
	padding:15px 15px 13px 15px;
	background-color:#ffffff;
	overflow:hidden;
}
#splashcontainer-flex {
	background-color:#683d19;
	overflow:hidden;
}
#splashtext-flex {
	padding:10px 10px 10px 10px;
	background-image:url(/_kso_images/splashtextback-wide.gif);
	background-position:top;
	background-repeat:no-repeat;
/*	width:255px; */
/*	float:left; */
/*	background-color:#683d19; */
}
#splashtext-flex h2 {
	font-size:20px;
	letter-spacing:-0.03em;
	margin-bottom:3px;
	color:#e2d2aa;
	line-height:21px;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
#splashtext-flex h2 a {
	color:#e2d2aa;
}
#splashtext-flex h2 a:hover {
	text-decoration:none;
/*	border-bottom:1px solid; */
	color:#ff9900;
}
#splashtext-flex p {
	font-size:13px;
	color:#f8f4ea;
	}

#splashtext-flex p a {
	color:#ff9900;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:.1em;
}
#splashimage-flex {
/*	width:275px;*/
/*	float:left; */
}


/* ***** ARTICLE AND PAGE ELEMENTS ***** */
*/ The number in the style name refers to the width of the player */
.videoContainer540 {
	height:304px;
}


#rightcolumn {
	width:210px;
	float:right;
}
#rightcolumncontent {
	width:200px;
	margin:15px 0px 0 0px;
}
#rightcolumncontent #eventscalendar {
	margin:0 0 30px 0;
}
#rightcolumncontent #eventscalendar .evententry {
	border-top:1px dotted #aaa;
	padding:8px 0 8px 1px;
	margin:0;
	font-size:13px;
}
#rightcolumncontent #eventscalendar .newsdate {
	font-size:11px;
}
#rightcolumncontent #poll {
	margin:0 0 30px 0;
	font-size:13px;
	line-height:16px;
}
#rightcolumncontent #poll h4 {
	margin-bottom:0.5em;
}
#rightcolumncontent #poll p a {
	font-weight:bold;
}
#rightcolumncontent #poll input.pollsubmit {
	margin:0 0 10px 0;
}
#rightcolumncontent #poll input.pollradio {
	display:block;
	float:left;
	width:20px;
	margin:0;
	padding:0;
	line-height:12px;
	vertical-align:middle;
}
#rightcolumncontent #poll span.polltext {
	display:block;
	float:right;
	width:175px;
	margin:0 0 0.5em 0;
	padding:0;
	font-weight:bold;
}
#rightcolumncontent #poll #pollrule {
	border-top:1px dotted #aaa;
	padding:8px 0 0 0;
}
#pollrule {
	border-top:1px dotted #aaa;
	padding:8px 0 0 0;
}
#rightcolumncontent #deptnews, #rightcolumncontent #spotlightoftheweek {
	font-size:13px;
}
#rightcolumncontent #deptnews #rule, #rightcolumncontent #spotlightoftheweek #rule {
	border-top:1px dotted #aaa;
	padding:8px 0 0 0;
}
#rightcolumncontent #deptnews ul, #rightcolumncontent #spotlightoftheweek ul {
	margin-left:0;
	padding-left:1.2em;
	padding-bottom:1em;
	padding-top:0.5em;
}
#rightcolumncontent #deptnews ul li a, #rightcolumncontent #spotlightoftheweek ul li a {
	font-weight:bold;
}
#middlerightcolumn #mahalo {
	margin:0 0 30px 0;
}
#middlerightcolumn #mahalo .mahaloentry {
	border-top:1px dotted #aaa;
	padding:8px 0 8px 0;
	margin:0;
	font-size:13px;
	line-height:16px;
}
#comicstrip {
	margin:0 0 30px 0;
	font-size:13px;
	font-weight:bold;
	text-align:center;
}
#comicstrip .comic {
	margin:3px 0 8px 0;
}
#socialmedia {
	font-size:13px;
	font-weight:bold;
	margin:0 0 30px 0;
	text-align:center;
	border:3px solid #e4d5b3;
	background-color:#f7f4e9;
}
#socialmedia .bugs {
	margin:5px 2px 5px 2px;
}
#socialmedia p.header-login {
	margin:0;
	padding:5px 5px 5px 5px;
	width:144px;
	border-bottom:1px dotted #c2ad74;
	background-color:#f1ecd9;
	color:#663300;
	font-weight:bold;
	font-size:12px;
	letter-spacing:0.05em;
	text-align:center;
	text-transform:uppercase;
}
#socialmedia div {
	margin:0 auto;
	/*width:168px;*/
}
#footercontainer {
	background-color:#ebe2c5;
	padding:20px 35px 20px 35px;
	background-image:url(/_kso_images/footer-leaves.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	color:#9f7e55;
	font-size:11px;
	line-height:17px;
}
#footercontainer p {
	margin:0;
	padding:0;
}
#footercontainer a {
	color:#663300;
}
#footercontainer ul {
	list-style:none;
	overflow:auto;
}
#footercontainer ul li {
	float:left;
	margin:0 15px 0 0;
}
#footercontainer .www {
	font-weight:bold;
	/*text-transform:uppercase;*/
}
.ruleverticalspace {
	margin:10px 0 10px 0;
}
.rule-bottom {
	height:1px;
	border-top:1px solid #e5e5e5;
	background-color:#cecece;
	border-bottom:1px solid #9d9d9d;
}

#division-breadcrumb {
	padding-bottom:30px;
}
.breadcrumbcontainer {
	float:left;
	height:18px;
	margin-right:3px;
	background-image:url(_kso_images/breadcrumb-arrow.gif);
	background-position:right;
	background-repeat:no-repeat;
	background-color:#ebe2c5;
}
.breadcrumb {
	display:block;
	font-size:11px;
	font-weight:bold;
	line-height:10px;
	padding:4px 14px 4px 8px;
	/* These five styles moved up from .breadcrumb a, to fix IE6 issue */
}
.breadcrumb a {
	color:#663300;
}
.breadcrumb a:hover {
	text-decoration:none;
	color:#ff5b18;
}
.youareherecontainer {
	float:left;
	height:18px;
	margin-right:3px;
	background-color:#f6efd9;
}
.youarehere {
	display:block;
	font-size:11px;
	font-weight:bold;
	line-height:10px;
	padding:4px 8px 4px 8px;
	color:#000;
}


/* For pretty photo gallery */
#pg_container {
	width: 400px;
	border:thin #666;
}

.calendarBG {
	background-color:#eae1c4;
	padding:4px 3px 3px 3px;
}
.calendarHeader {
	font-size:14px;
	text-align:center;
}
.calendarHeaderForm {
	padding:0 0 4px 0;
}
.calendarDayHeading {
	font-size:14px;
	text-align:center;
	padding:2px 5px 2px 5px;
	background-color:#f5f1e4;
	font-weight:bold;
}
.calendarCell {
	font-size:14px;
	text-align:center;
	padding:2px 5px 2px 5px;
	background-color:#ffffff;
	color:#888;
}
.calendarCell a {
	font-weight:bold;

}
.calendarToday {
	font-size:14px;
	text-align:center;
	background-color:#d4e1ee;
	padding:2px 5px 2px 5px;
}
.calendarBlank {
	background-color:#faf7ee;
}
.calendarEvent {
	background-color:#e4d5b3;
	font-size:14px;
	text-align:center;
	padding:2px 5px 2px 5px;
}

/* For mini-calendar */
#mc_wrap {
	font-size:14px;
}


/* ********** GLOBAL ELEMENTS ********** */

p.date-format {
	font-size:11px !important;
	margin:0;
	padding:0;
	text-transform:uppercase;
	color:#666;
	line-height:15px !important;
	letter-spacing:0.07em;
	text-align:right;
}

.uppercase {
	text-transform:uppercase;
}
hr {
	color: #aaaaaa;
	border: 1px solid #aaaaaa;
	border-style: none none solid;
	margin:15px 0 15px 0;
	padding:0;
	height:0px;
	}
.clearfloatspacer1 {
	clear:both;
	height:10px;
}
.clearfloatspacer2 {
	clear:both;
	height:20px;
}
.clearfloatspacer3 {
	clear:both;
	height:30px;
}
.clearfloatspacer3white {
	clear:both;
	height:0px;
	background-color:#fff;
}
.clearfloatspacer4 {
	clear:both;
	height:40px;
}
.clearfloatspacer4 {
	clear:both;
	background-color:#ffffff;
	height:15px;
}

.datebox {
	width:30px;
	padding:7px;
	float:left;
	text-align:center;
	background-color:#f1ecd9;
	margin:0 8px 0 0;
	font-size:11px;
	text-transform:uppercase;
	color:#683d19;
}
.datebox-day {
	font-size:18px;
	font-weight:bold;
}
.infobox {
	width:220px;
	border:1px solid #c2ad74;
	background-color:#f7f4e9;
	padding:10px;
	float:right;
	margin:17px 0 10px 20px;
	clear:both;
	}
.infobox_center {
	border:1px solid #c2ad74;
	background-color:#f7f4e9;
	padding:10px;
	margin:17px 0 10px 0;
	clear:both;
	}
#middlecolumnsub .story .infobox p {
	font-size:12px;
	line-height:16px;
}
#middlecolumnsub .story .infobox ul, #middlecolumnsub .story .infobox ol {
	font-size:12px;
	margin:10px 0 0 22px;
}
#middlecolumnsub .story .infobox ul li, #middlecolumnsub .story .infobox ol li {
	line-height:16px;
	margin:0 0 5px 0;
	
}
.image-full-width {
	width:530px;
	margin:0 0 5px 0;
}


/* ---------------- IMAGE GALLERY ----------------- */
#rightcolumnfull {
	padding:15px 0 20px 15px;
	overflow:hidden;
	background-color:#fff;
	width:750px;
}
#rightcolumnfull p {
	font-size:14px;
	margin-top:14px;
	line-height:19px;
	}
.gallerycovercontainer {
	overflow:hidden;
	margin:0 0 20px 0;
	padding:0 0 20px 0;
	border-bottom:1px dotted #aaaaaa;
	width:750px;
}
.gallerycoverphoto {
	float:left;
	width:500px;
	margin-right:10px;
}
.gallerycovertextbox {
	width:240px;
	float:left;
}
#rightcolumnfull .gallerycovertextbox p {
	font-size:12px;
	line-height:16px;
	margin-bottom:13px;
}
#rightcolumnfull .gallerycovertextbox p.posteddate {
	font-size:11px;
	line-height:19px;
}
.gallerycovercontainer2 {
	overflow:hidden;
	margin:0 0 15px 0;
	width:750px;
}
.gallerycoverthumb {
	width:240px;
	float:left;
	margin:0 15px 0 0;
	font-size:13px;
}
.gallerycoverthumbend {
	width:240px;
	float:left;
	margin:0 0 0 0;
}
#rightcolumnfull p.posteddate {
	font-size:11px;
	color:#777;
	margin-top:0px;
}
.galleryviewmore {
	padding:20px 0 20px 0;
	border-top:1px dotted #aaaaaa;
	font-size:14px;
	font-weight:bold;
}
.gallerycovercontainer3 {
	overflow:hidden;
	margin:10px 0 10px 0;
	width:750px;
}
.gallerydetailthumb {
	width:180px;
	height:120px;
	float:left;
	margin-right:10px;
	overflow:hidden;
}
.gallerydetailthumbend {
	width:180px;
	height:120px;
	float:left;
	margin-right:0;
	padding:0;
	overflow:hidden;
}

/* FOR HAILONO */
#hailonohead {
	width:530px;
	margin:15px 15px 5px 15px;
}
#hailonosubfeature-container {
	width:530px;
	overflow:hidden;
	background-color:#ffffff;
	border-bottom:1px solid #cbcbcb;
	padding:0 0 15px 0;
}
.hailonosubfeature {
	width:168px;
	float:left;
	margin-right:13px;
}

.hailonosubfeatureimage {
	height:112px;
/*	position: relative; */
	overflow:hidden;
}
.hailonosubfeatureimage img {
/*	position: absolute;
	clip: rect(0 168px 112px 0); */
}
.hailonosubfeature p {
	margin-top:4px;
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.hailonosubfeatureend {
	width:168px;
	float:left;
}
.hailonosubfeatureend p {
	margin-top:4px;
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#hailonoarticle-container {
	width:530px;
	overflow:hidden;
	margin:0;
}
#hailonoarticle-columnleft {
	width:255px;
	float:left;
	margin:0 20px 0 0;
}
#hailonoarticle-columnright {
	width:255px;
	float:left;
	margin:0 0 0 0;
}
.hailonoarticle-teaser {
	width:343px;
	margin:0 10px 0 0;
	padding:0 0 10px 0;
/*	border-bottom:1px dotted #aaa; */
}
.hailonoarticle-teaser p {
	font-size:14px;
	line-height:19px;
	padding:5px 0 0 0;
}
.hailonoarticle-teaser ul {
	list-style:disc;
	margin:0 0 0 15px;
}
.hailonoarticle-teaser ul li a {
	font-size:14px;
	line-height:19px;
}
.masthead {
	font-size:11px;
	line-height:14px;
	color:#875e34;
}
.masthead p {
	margin-bottom:8px;
}

/* ----------------------- QUOTE BOX STYLE -------------------------- */

#middlecolumnsub .quotebox {
	width:219px;
	float:right;
	clear:both;
	margin:10px 0 20px 20px;
	padding:0 0 0 20px;
	border-left:1px solid #e6ded8;
}

#middlecolumnsub p.quote {  
	font-size:18px;  font-family:Georgia, "Times New
	Roman", Times, serif;  line-height:24px; margin:0 0 18px 0;  padding:0;
	color:#683c19;
}
#middlecolumnsub p.quotename {  
	font-size:13px;  font-weight:bold;
	text-transform:uppercase;  margin:0;  padding:0;
	color:#683c19;
}

#middlecolumnsub p.quotetitle {
	font-size:11px;  line-height:14px;
	margin:0;  padding:0;  color:#683c19;
}


/* ----------------------- PAGINATION STYLE -------------------------- */

#pagin {
	margin: 65px auto;
	padding: 0;
	list-style: none;
	width: 180px;
}
#pagin li {
	float: left;
	margin-right: 10px;
}

#pagin li a {
	display: block;
	text-decoration: none;
	color: #717171;
	font: bold 11px "Trebuchet MS", Arial, sans-serif;
	text-shadow: 0px 1px white;
	padding: 5px 8px;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	background: #f9f9f9;

	background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 );
}

#pagin li a.current {
	color: white;
	text-shadow: 0px 1px #3f789f;

	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
	background: #8b9aad;

	background: -webkit-linear-gradient(top, #8b9aad 0%, #526880 100%);
	background: -moz-linear-gradient(top, #8b9aad 0%, #526880 100%);
	background: -o-linear-gradient(top, #8b9aad 0%, #526880 100%);
	background: -ms-linear-gradient(top, #8b9aad 0%, #526880 100%);
	background: linear-gradient(top, #8b9aad 0%, #526880 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b9aad', endColorstr='#526880',GradientType=0 );
}

#pagin li a:hover {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
	background: #fff;

	background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: linear-gradient(top, #fff 0%, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e8e8e8',GradientType=0 );
}

#pagin li a:active,#pagin li a.current:active {
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
}

#pagin li a.current:hover {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
	background: #a9b6c5;

	background: -webkit-linear-gradient(top, #a9b6c5 0%, #7389a0 100%);
	background: -moz-linear-gradient(top, #a9b6c5 0%, #7389a0 100%);
	background: -o-linear-gradient(top, #a9b6c5 0%, #7389a0 100%);
	background: -ms-linear-gradient(top, #a9b6c5 0%, #7389a0 100%);
	background: linear-gradient(top, #a9b6c5 0%, #7389a0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9b6c5', endColorstr='#7389a0',GradientType=0 );
}

/* END HAILONO */

/* BEGIN QUOTE */
#middlecolumnsub .quotebox {
	width:219px;
	float:right;
	clear:both;
	margin:10px 0 20px 20px;
	padding:0 0 0 20px;
	border-left:1px solid #e6ded8;
}
#middlecolumnsub p.quote {
	font-size:18px;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:24px;
	margin:0 0 18px 0;
	padding:0;
	color:#683c19;
}
#middlecolumnsub p.quotename {
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
	margin:0;
	padding:0;
	color:#683c19;
}
#middlecolumnsub p.quotetitle {
	font-size:11px;
	line-height:14px;
	margin:0;
	padding:0;
	color:#683c19;
}
/* END QUOTE */

.headline-spaced {
	margin:0 0 10px 0;
}
.pagination {
	font-size:13px;
	font-weight:normal;
	color:#777;
}
.pagination a {
	font-weight:bold;
	padding:0 3px 0 3px;
}
#ksvoices {
	font-size:13px;
	margin-bottom:30px;
}
#ksvoices ul {
	list-style:disc;
	margin-left:15px;
	margin-bottom:7px;
}
#ksvoices ul li {
	
}
table.table-bordered {
	border-collapse:collapse;
}
table.table-bordered th {
	padding:7px;
	border: 1px solid #CCC;
	vertical-align:top;
	background-color:#efefef;
	text-align:left;
}
table.table-bordered td  {
	padding:7px;
	border: 1px solid #ccc;
	vertical-align:top;
}