#hometext {
	width:386px;
	float:left;
	p {
		margin:0;
	}
}
.commercialtext {
	width:465px;
	float:left;
}
.caption {
	text-align:center;
	font-weight:bold;
	margin:0px 0 0 0;
}
.captionlight {
	margin:5px 0 25px 0;
}
.captionlightnospace {
	margin:5px 0 0 0;
}