// BASE FONT
$base-font-family: 'Open Sans', sans-serif;
$base-font-color: #993300;
$base-font-decoration: none;

// PATHS
$base-image-path: '/sasstime/commercialrealestate/images';

@import "modules/_all";